<!-- the Bengkel Lab Logo -->

<div class="logoBl">
  <div class="content">
    <img class="logoBl image" src="./assets/logos/BL_logo.svg" alt="" id="BLlogo">
    <div class="texts">

      <h2>BENGKEL
        <br>LAB
      </h2>

      <h4>Your laboratory solution</h4>
    </div>
  </div>
</div>