<div class="logo os labShop">
  <div>
    <div class="content">
      <img src="./assets/logos/LabShop_logo.svg" class="image logo" alt="">
      <h2>LAB
        <br> SHOP
      </h2>
    </div>
    <h4>Your equipment laboratory solution</h4>
  </div>
</div>