<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bengkel Lab</title>
  <%- include('partials/head') %>
</head>

<style>

</style>

<body class="white">
  <aside class="left">
    <div class="content">

      <logoBl data-sizes="280"></logoBl>

      <ul class="main">
        <li><a href="">Newest</a></li>
        <div class="lineStroke"></div>
        <li><a href="">Nearby Project</a></li>
        <li><a href="">Service Lab Instrument Project</a></li>
        <li><a href="">Service Laboratory Room Project</a></li>
        <li><a href="">News Updated</a></li>
      </ul>

    </div>
    <div class="lineStroke" style="opacity: 24%;margin:0;"></div>
    <div class="other_servis content">
      <h3>Other Service</h3>
      <div class="os">
        <logoLs data-sizes="160"></logoLs>
        <logoBiot data-sizes="225"></logoBiot>
      </div>

  </aside>

  <main>
    <h1>hellooooooo</h1>
  </main>
</body>

</html>