/* BL logo:big */
.logoBL {
    display: flex;
    gap: 0 40px;
}

.logoBL .image {
    height: 225px;
}

.logoBL .texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 21px;
}

.logoBL h2 {
    color: var(--gold);
}

.logoBL .texts h2, h4 {
    margin: 0;
}

