<div class="logo os bengkelIot">
  <div>
    <div class="content">
      <img src="./assets/logos/BengkelIot.svg" class="image logo" alt="">
      <h2>BENGKEL
        <br> IOT
      </h2>
    </div>
    <h4>Your equipment laboratory solution</h4>
  </div>
</div>