<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bengkel Lab · Projects</title>
  <%- include('partials/head') %>
  <link rel="stylesheet" href="./css/projects.css">
</head>

<style>

</style>

<!-- used modules -->
<script src="./js/bars.js"></script>

<body class="white">
  <%- include('partials/aside') %>
  <section class="main">
    <nav class="general">
      <div class="container">

        <a href="" class="account">
          <img src="./assets/img/pfp.png" alt="">
          <span class="description">Rockitty</span>
        </a>
        <a href="" class="iconA notificiation"><img src="./assets/svg/notif.svg" alt=""></a>
        <a href="" class="iconA chat"><img src="./assets/svg/chat.svg" alt=""></a>
        <a href="" class="iconA menu"><img src="./assets/svg/menu.svg" alt=""></a>
      </div>
    </nav>

    <div class="main midle-body">


      <div class="container">
        <h3>Apa yang bisa kami bantu hari ini?</h3>

        <div class="projects">

          <div class="project">
            <a href="" class="img">
              <img src="./assets/svg/plus.svg" alt="">
            </a>
            <h5>Upload Project</h5>
          </div>

          <div class="project">
            <a href="" class="img">
              <img src="./assets/svg/plus.svg" alt="">
            </a>
            <h5>Upload Project</h5>
          </div>
        </div>

        <div class="bars">

          <div id="on-progress">
            <h5>On Progress Project</h5>
            <div class="progress-bar" data-fill="80">
              <span class="fill"></span>
            </div>
            <div class="persentage">
              <h5>4/6</h5>
              <h5>80%</h5>
            </div>
          </div>

          <div id="shipping-parts">
            <h5>Shipping Parts</h5>
            <div class="progress-bar" data-fill="20">
              <span class="fill"></span>
            </div>
            <div class="persentage">
              <h5>1/3</h5>
              <h5>20%</h5>
            </div>
          </div>
        </div>
      </div>
      
      <footer>
        <div class="container">
          <h5>Copyright© 2020 . All Rights Reserved</h5>
          <h5>Site Map</h5>
          <h5>Privacy Policy</h5>
        </div>
      </footer>
    </div>
    

  </section>
</body>

<script>
  const Pbars = {
    projectProgress: new bars(document.querySelector(".bars #on-progress .progress-bar")),
    shippingParts: new bars(document.querySelector(".bars #shipping-parts .progress-bar"))
  }
</script>

</html>