<link rel="icon" href="assets/logos/BL_logo.svg">
<!-- TODO:↑↑↑ make for both light and dark theme ↑↑↑ -->


<!-- css-s -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/logoBL.css">
<link rel="stylesheet" href="css/logoOS.css">

<link rel="stylesheet" href="css/aside.css">
<link rel="stylesheet" href="css/nav.css">

<!--
     fonts:
        -Montserrat: reguler-medium-extraBold
        -Roboto: reguler-medium-bold
        -Nebula (file)
-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<!-- preloaded assets(for javascript modification before init) -->
<div id="assets">
  <%- include('logo/logoBL') %>
  <%- include('logo/logoBiot') %>
  <%- include('logo/logoLabShop') %>
</div>

<script src="./js/main.js"></script>
